<script type="text/javascript">
var bookedDates = {};
bookedDates = {{ booked_dates|raw }};
</script>

<form
    data-request="onBooking">
    
    <fieldset>
        <legend>You</legend>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    <label for="userBookingName">Name*</label>
                    <input name="name" type="text" class="form-control" id="userBookingName" placeholder="Enter your name and first name">
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    <label for="userBookingEmail">Email*</label>
                    <input name="email" type="email" class="form-control" id="userBookingEmail" placeholder="Enter your email">
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    <label for="userBookingPhone">Phone*</label>
                    <input name="phone" type="tel" class="form-control" id="userBookingPhone" placeholder="Enter your phone number">
                </div>
            </div>
        </div>
    </fieldset>
        
    <fieldset>
        <legend>Your Visit</legend>
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="userBookingName">Persons*</label>
                            <input name="persons" type="number" class="form-control" id="userBookingName" placeholder="Enter your name and first name">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="userBookingEmail">Rooms*</label>
                            <input name="rooms" type="number" class="form-control" id="userBookingEmail" placeholder="Enter your email">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="userBookingArrival">Arrival*</label>
                            <div class="input-group">
                                <input name="arrival" type="date" class="form-control" id="userBookingArrival" data-date="{{"now"|date('Y-m-d')}}" data-date-format="yyyy-mm-dd" placeholder="Arrival">
                                <span class="input-group-addon"><i class="icon-th"></i></span>
                        </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="userBookingDeparture">Departure*</label>
                            <div class="input-group">
                                <input name="departure" type="date" class="form-control" id="userBookingDeparture" data-date="{{"now"|date('Y-m-d')}}" data-date-format="yyyy-mm-dd" placeholder="Departure">
                                <span class="input-group-addon"><i class="icon-th"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12" id="totalNights">
                        <p class="bg-success hide" style="padding:10px 15px;"><span class="total">0</span> night<span class="plural"></span> to book</p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="userBookingPay">How do you plan to pay ?</label>
                            <select name="pay_plan" class="form-control" id="userBookingPay">
                                <option value="none">Select one</option>
                                <option value="Money">Money</option>
                                <option value="Master Card, Visa">Master Card, Visa</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div data-date="{{"now"|date('Y-m-d')}}" data-date-format="yyyy-mm-dd" id="showAvailableDates">
                    <input type="text" value="{{"now"|date('Y-m-d')}}" readonly="readonly" class="hide">
                </div>
            </div>
        </div>
    </fieldset>
    
    <fieldset>
        <div class="form-group">
            <label for="userBookingComment">Comment</label>
            <textarea name="comment" class="form-control" id="userBookingComment"></textarea>
        </div>
    </fieldset>
    <input type="hidden" name="room_id" value="{{ room.id }}">
    <button type="submit" class="btn btn-primary">Book</button>
</form>